<div class="page-layout carded fullwidth">
  <div class="top-bg mat-accent-bg"></div>
  <div class="center">
    <div
      class="header white-fg"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center"
    >
      <div fxLayout="row" fxLayoutAlign="start end">
        <mat-icon class="logo-icon mr-16"> store </mat-icon>
        <span class="logo-text h1"> Devices </span>
      </div>
      <div
        class="search-input-wrapper mx-24 m-md-0"
        fxFlex="1 0 auto"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
          <input matInput #filter placeholder="Search" />
        </mat-form-field>
      </div>
    </div>
    <div class="content-card mat-white-bg">
      <mat-table
        style="margin-left: 20px"
        class="products-table"
        #table
        [dataSource]="dataSource"
        matSort
      >
        <ng-container cdkColumnDef="id">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let device">
            <p>{{ device.id }}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="title">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header
            >Title</mat-header-cell
          >
          <mat-cell *cdkCellDef="let device">
            <p>{{ device.title }}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="active">
          <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs
            >active</mat-header-cell
          >
          <mat-cell *cdkCellDef="let device" fxHide fxShow.gt-xs>
            <mat-icon
              *ngIf="device.active"
              class="active-icon mat-green-600-bg s-16"
              >check</mat-icon
            >
            <mat-icon
              *ngIf="!device.active"
              class="active-icon mat-red-500-bg s-16"
              >close</mat-icon
            >
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *cdkRowDef="let device; columns: displayedColumns"
          class="product"
          matRipple
        >
        </mat-row>
      </mat-table>

      <mat-paginator
        #paginator
        [length]="dataSource.filteredData.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
      >
      </mat-paginator>
    </div>
  </div>
</div>
