// Page Layouts
$carded-header-height: 200px !default;
$carded-header-height-sm: 160px !default;

$header-height: 120px !default;
$header-height-sm: 100px !default;

// Calculate toolbarless header height
$carded-header-height-without-toolbar: $carded-header-height;
$carded-header-height-without-toolbar-sm: $carded-header-height-sm;

// // Top bg image
// $top-bg-image: url("assets/images/backgrounds/header-bg.png");

.page-layout {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  // Carded layout
  &.carded {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 90%;
    min-width: 90%;

    // Top bg
    .top-bg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      height: $carded-header-height;

      @include media-breakpoint-down("sm") {
        height: $carded-header-height-sm;
      }
    }

    // Fullwidth
    &.fullwidth {
      // Single scroll
      &.single-scroll {
        > .center {
          flex: 1 0 auto;
          max-height: none;
        }
      }

      // Center
      > .center {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        z-index: 2;
        padding: 0 32px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;

        .header {
          margin-left: 5%;
          height: $carded-header-height;
          min-height: $carded-header-height;
          max-height: $carded-header-height;

          @include media-breakpoint-down("sm") {
            height: $carded-header-height-sm;
            min-height: $carded-header-height-sm;
            max-height: $carded-header-height-sm;
          }
        }

        .content-card {
          margin-left: 5%;
          flex-direction: column;
          flex: 1;
          overflow: hidden;
          @include mat-elevation(7);

          > .content {
            display: flex;
            flex: 1;
            overflow: auto;
          }
        }
      }
    }
  }
}
